@model Bangaliyana.Models.ProductTypes

@{
    ViewData["Title"] = "Create Product Type";
}

<div class="p-4 border border-info rounded-2 w-75 mx-auto shadow">
    <h3 class="text-center text-info">Enter Product Type</h3><br />

    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row mb-2">
            <div class="col-2 text-end">
                <label asp-for="ProductType"></label>
            </div>
            <div class="col-10">
                <input asp-for="ProductType" class="form-control"/>
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row mb-2">
            <div class="col-2 text-end">
                <label asp-for="Description"></label>
            </div>
            <div class="col-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-2"></div>
            <div class="col-10">
                <input type="submit" value="Save" class="btn btn-primary"/>
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
@{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
