@using Bangaliyana.Models;
@model IEnumerable<ProductTypes>

@{
    ViewData["Title"] = "Product Types";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Product Type List</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-action="Create" class="btn btn-outline-info"><i class="fa-solid fa-square-plus"></i> Add New Product Type</a>
    </div>
</div>

<div class="mt-2">
    <table id="categoryTable" class="table table-striped table-info table-responsive table-borderless">
        <thead>
                <tr>
                    <th class="w-75 text-center">@Html.DisplayNameFor(c => c.ProductType)</th>
                    <th></th>
                </tr>
        </thead>

        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.ProductType</td>
                    <td class="text-end">
                        <partial name="_ButtonPartial" model="@item.Id"/>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#categoryTable').DataTable({
                responsive: true,
                paging: true,
                pageLength: 10,
                lengthChange: true,
                searching: true,
                ordering: false,
                info: true,
                autoWidth: false,
                scrollX: true,
            });
        });
    </script>

}
